<div
    class="login-page d-flex justify-content-center align-items-center vh-100">
    <div class="card transparent-card p-4 shadow-lg">
        <div class="card-body">
            <h2 class="card-title text-center mb-4">Reset Password</h2>
            <form #ResetpwdForm="ngForm" (ngSubmit)="onSubmit(ResetpwdForm)">
                <div class="mb-3">
                    <label for="ResetRPassword"
                        class="form-label">Password</label>
                    <input type="password" name="ResetRPassword"
                        id="ResetRPassword"
                        placeholder="Password"
                        class="form-control"
                        [(ngModel)]="ResetData.RPassword"
                        #ResetRPassword="ngModel" required autocomplete="off">
                    <div
                        *ngIf="ResetpwdForm.invalid && ResetpwdForm.submitted || (ResetRPassword.dirty || ResetRPassword.touched)"
                        class="error">
                        <div
                            *ngIf="ResetRPassword.errors?.['required']">Password
                            is
                            required.
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="confirmPassword"
                        class="form-label">confirm Password</label>
                    <input type="password" name="confirmPassword"
                        id="confirmPassword"
                        placeholder="confirm Password"
                        class="form-control"
                        [(ngModel)]="ResetData.confirmPassword"
                        #confirmPassword="ngModel" required autocomplete="off">
                    <div
                        *ngIf="ResetpwdForm.invalid && ResetpwdForm.submitted || (confirmPassword.dirty || confirmPassword.touched)"
                        class="error">
                        <div
                            *ngIf="confirmPassword.errors?.['required']">Password
                            is
                            required.
                        </div>
                    </div>
                </div>

                <div *ngIf="showmsgsucc" class="success">
                    {{ msgsucc }}
                </div>
                <div *ngIf="showmsgerr" class="error">
                    {{ msgerr }}
                </div>

                <div class="mb-3 text-center">
                    <button type="submit"
                        class="btn btn-danger btn-sm me-2">Update</button>
                    <button type="button"
                        class="btn btn-outline-warning btn-sm"
                        (click)="clearForm(ResetpwdForm)">Clear</button>
                </div>
            </form>