<div
    class="login-page d-flex justify-content-center align-items-center vh-100">
    <div class="card transparent-card p-4 shadow-lg">
        <div class="card-body">
            <h2 class="card-title text-center mb-4">Forget Password</h2>
            <form #frgtpwd="ngForm" (ngSubmit)="onSubmit(frgtpwd)">
                <div class="mb-3">
                    <label for="UserName"
                        class="form-label">Username</label>
                    <input type="text" name="UserName" id="UserName"
                        placeholder="Username"
                        class="form-control"
                        [(ngModel)]="frgtpwdData.ForgetUsername"
                        #UserName="ngModel" required autocomplete="off">
                    <div *ngIf="showmsgerr" class="error">
                        {{ msgerr }}
                    </div>

                    <div
                        *ngIf="frgtpwd.invalid && frgtpwd.submitted || (UserName.dirty || UserName.touched)"
                        class="error">
                        <div
                            *ngIf="UserName.errors?.['required']">Username
                            is
                            required.
                        </div>
                    </div>

                    <div *ngIf="showmsgsucc"
                        class="success">
                        {{ msgsucc }}
                    </div>
                    <div *ngIf="showmsgerr"
                        class="error">
                        {{ msgerr }}
                    </div>
                    <div class="mb-3 text-center">
                        <button type="submit"
                            class="btn btn-success btn-sm me-2">Submit</button>
                        <button type="button"
                            class="btn btn-outline-warning btn-sm">Clear</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
